/*Archivo: "css/estilos.css" */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 8em;
    background-color: #ADB2D4;
}

header {
    background-color: #C7D9DD;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    color: #000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #D5E5D5;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #999999;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    color: #2C2C2C;
}

section {
    display: flex;
    background-color: #EEF1DA;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 2;
    background-color: #D5E5D5;
    padding: 20px;
    margin-right: 20px;
}

aside {
    flex: 1;
    background-color: #C7D9DD;
    padding: 20px;
    width: 30%;
}

footer {
    background-color: #ADB2D4;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
}

.visitor-form {
    background-color: #FFFBDA;
    padding: 20px;
    margin-top: 20px;
}

.visitor-form input,
.visitor-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.visitor-form input[type="submit"] {
    background-color: #FFBB70;
    color: white;
    border: none;
    cursor: pointer;
}

.attractions {
    background-color: #FFFBDA;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.attractions h2 {
    margin-bottom: 10px;
}

.attractions img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.attractions img:hover {
    transform: scale(1.05);
}
